@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<container>
<div class="text-xxl-start">
    

    <h1 class="display-4"><b> Welcome <br><span>To Admin</span><br>Page!</b></h1>
    <p class="par">
        Enjoy the fine spirits and <br> keep your sunny side up.<br>Refined taste of our exclusive <br>beverages is a real joy <br>for those who value good alcohol
    </p>
    <img  class="background" src="~/images/istockphoto-1135798398-612x612.jpg" />
   </div>
   </container>
<@*/div>
<div></div>
<div class="content">
    <img class="" src="~/images/istockphoto-1135798398-612x612.jpg" />
    <h1>Welcome<br><span> To Liquor</span><br> Store</h1>
    <p class="par">
        Enjoy the fine spirits and <br> keep your sunny side up.<br>Refined taste of our exclusive <br >beverages is a real joy <br>for those who value good alcohol
    </p>
<div >
   @* <img class=""src="~/images/istockphoto-1135798398-612x612.jpg" />*@
 @*   </div>
</div>*@
